@model GuniKitchen.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product_Name" class="control-label"></label>
                <input asp-for="Product_Name" class="form-control" />
                <span asp-validation-for="Product_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Description" class="control-label"></label>
                <input asp-for="Product_Description" class="form-control" />
                <span asp-validation-for="Product_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Price" class="control-label"></label>
                <input asp-for="Product_Price" class="form-control" />
                <span asp-validation-for="Product_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Quantity" class="control-label"></label>
                <input asp-for="Product_Quantity" class="form-control" />
                <span asp-validation-for="Product_Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Size" class="control-label"></label>
                <select asp-for="Product_Size" class="form-control"></select>
                <span asp-validation-for="Product_Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Category" class="control-label"></label>
                <input asp-for="Product_Category" class="form-control" />
                <span asp-validation-for="Product_Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
